
.root {
    main-color: lightseagreen;
    hr-color: rgb(20, 20, 20);
    selected-color: coral;
    pressed-color: lightcoral;
    pressed-color-alt: darkorange;
    hovered-color: gray;
    hovered-color-alt: lightgray;
    unfinished-text-color: black;
    finished-text-color: lightgrey;
    valid-color: #a69e1d;
    danger-color: #cc0000;
}

.separator:horizontal .line {
    -fx-border-color: hr-color transparent transparent transparent;
}
