
.root {
    main-color: lightgoldenrodyellow;
    hr-color: rgb(40, 40, 40);
    selected-color: coral;
    pressed-color: lightcoral;
    pressed-color-alt: darkorange;
    hovered-color: gray;
    hovered-color-alt: lightgray;
    unfinished-text-color: black;
    finished-text-color: gray;
    valid-color: #3eca3e;
    danger-color: #cc0000;
}

.separator:horizontal .line {
    -fx-border-color: hr-color transparent transparent transparent,
    -fx-shadow-highlight-color transparent transparent transparent;
}