/*
 * Empty Stylesheet file.
 */

#editTaskView {
    -fx-background-color: main-color;
}

.form .desc {
    -fx-font: 14px 'Maiandra GD';
    -fx-content-display: graphic-only;
}

.form {
    -fx-padding: 10px 20px 10px 20px;
    -fx-spacing: 15px;
}

.form .ligne {
    -fx-alignment: center-left;
    -fx-spacing: 25px;
}

.text-area {
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-cursor: default;
    -fx-background-color: linear-gradient(to bottom, black, hr-color),
    derive(-fx-base, -1%);
}

.text-area > .scroll-pane {
    -fx-background-color: null;
}

.text-area .content {
    -fx-font-size: 14px;
    -fx-background-color: main-color;
    -fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: main-color;
    -fx-background-radius: 0;
}
