.button {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0;
    -fx-padding: 7px;
    -fx-font-size: 16px;
    -fx-pref-width: 300px;
    -fx-alignment: center_left;
}

.button:hover {
    -fx-background-color: hovered-color-alt;
}

.button:pressed {
    -fx-background-color: pressed-color-alt;
}

.label {
    -fx-font-size: 32px;
}