@font-face {
    font-family: 'Maiandra GD';
    src: url('../MAIAN.TTF');
}

.root * {
    -fx-font-family: 'Maiandra GD';
}

#great {
    -fx-background-color: transparent;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-border-color: transparent #2a0845 transparent #6441a5;
}

#titleBar {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #6441a5 0%, #2a0845 100%);
}

#titleBar .label {
    -fx-text-fill: white;
    -fx-font: bold 18px 'Maiandra GD';
}

#titleBar .button {
    -fx-content-display: graphic-only;
    /*-fx-pref-width: 36px;*/
    -fx-pref-height: 36px;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
}

#titleBar .button:hover {
    -fx-background-color: hovered-color;
}

#titleBar .button:pressed {
    -fx-background-color: pressed-color;
}

.tooltip {
    -fx-background-radius: 0px;
    -fx-background-insets: 0;
    -fx-font-size: 1.5em;
    -fx-font-family: 'Maiandra GD';
    -fx-border-radius: 0px;
    -fx-border-color: black;
}

.text-input {
    -fx-prompt-text-fill: rgb(100, 100, 100);
}

.text-input:focused {
    -fx-prompt-text-fill: rgb(110, 110, 110);
}

#colorCircle {
    -fx-fill: main-color;
}

#resizer{
    -fx-cursor: v_resize;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #6441a5 0%, #2a0845 100%);
}
